<figure>
<%= image_tag @picture.photo(:medium) %>
<figcaption> <%= @picture.caption %> </figcaption>
</figure>
<jumbotron>

<%= form_for @tag, :url => tags_path, method: :post, :html => { :multipart => true } do |form| %>
<%= hidden_field_tag "tag[picture_id]", @picture.id %>
<%= hidden_field_tag "tag[user_ids][]", nil %>

<% User.all.each do |user| %>
  <%= check_box_tag "tag[user_ids][]", user.id, @picture.users.include?(user) %>
  <%= user.name %><br/>
<% end %>


<%= form.submit(:class => "btn btn-primary") %>
<% end %>



<br />


   <%= link_to "Delete Pic", picture_path(@picture),
                                            :confirm => "You Sure?",
                                            :method => "delete",
                                            :class => "btn btn-danger" %>
</jumbotron>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-footer">
 <br />

  &nbsp;
  &nbsp;
  <%= link_to "View My Library", pictures_path %>
  &nbsp;
  &nbsp;
  <%= link_to "Upload Photo", new_picture_path %>
<div class="rightSideNav">
  &nbsp;
  &nbsp;
  <%= link_to "Previous Photo", picture_path(@picture.find_previous(current_user)) %>

  &nbsp;
  &nbsp;

  <%= link_to "Next Photo", picture_path(@picture.find_next(current_user)) %>
</div>

  </div>
</div>
</nav>


